 <div class="large-3 columns" id="sidebar">
		<div class='links'>
		  <h3>Current Research Projects</h3>
		  <HR SIZE="6">
		  <ul>
			<li class="withdots">
			  <a href='synchronization.html'>Event-Driven Oscillator Synchronization</a>
			</li>
			<li class="withdots">
			  <a href='geometric_embedding.html'>Geometric Embedding</a>
			</li>
			<li class="withdots">
			  <a href='turning_hexapod.html'>Modeling, Simulation and Turning Gait Generation of a Hexapod Robot</a>
			</li>
		  </ul>
		</div>
   </div>
